.centered-container {
  margin-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Tam ekran yüksekliği */
}

.white-frame {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
  text-align: center;
}

.button {
  background-color: #007bff; /* Mavi */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Buton ve metin arası boşluk */
  align-self: center;
}

.button:hover {
  background-color: #0056b3; /* Mavi tonu */
}
